*~
[#]*[#]
.\#*

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

*.sublime*

pids
logs
results

npm-debug.log
node_modules
.DS_Store

*.pdf
*.aux
*.toc
*.fls
*.fdb_latexmk
.csscomb.json

img
public/bootstrap
public/angular
public/angular-ui-router
public/jquery
public/libs
