<h2>Mode Manuel</h2>
<section class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p>
            Vous voici en mode manuel. Vous pouvez déplacer le drone directement avec les flèches affichées.
        </p>
    </div>
</section>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 controls">
            <div class="form-group row">
                <label class="col-xs-3" for="speed">Speed:</label>
                <input class="col-xs-9" ng-model="speed" type="text" name="speed" id="speed">
            </div>
            <div class="row">
                <div class="col-md-offset-4 col-md-1 col-xs-offset-4 col-xs-1 col-sm-offset-4 col-sm-1 col-lg-offset-4 col-lg-1">
                    <button type="button" class="btn btn-default" aria-label="Left Align" ng-mousedown="forward()" ng-mouseup="stop()">
                        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-md-1 col-xs-offset-1 col-xs-1 col-sm-offset-1 col-sm-1 col-lg-offset-1 col-lg-1">
                    <button type="button" class="btn btn-default" aria-label="Left Align" ng-mousedown="left()" ng-mouseup="stop()">
                        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="col-md-offset-4 col-md-1 col-xs-offset-4 col-xs-1 col-sm-offset-4 col-sm-1 col-lg-offset-5 col-lg-1">
                    <button type="button" class="btn btn-default" aria-label="Left Align" ng-mousedown="right()" ng-mouseup="stop()">
                        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-4 col-md-1 col-xs-offset-4 col-xs-1 col-sm-offset-4 col-sm-1 col-lg-offset-4 col-lg-1">
                    <button type="button" class="btn btn-default" aria-label="Left Align" ng-mousedown="backward()" ng-mouseup="stop()">
                        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <img src="images/i1.jpg" ng-if="!img.length">
            <img ng-src="data:image/JPEG;base64,{{arrayBufferToBase64(img)}}" ng-if="img.length">
        </div>
        <div class="col-sm-2">
            <div class="btn-group-vertical" role="group" aria-label="...">
                <button ng-repeat="a in anim" type="button" class="btn btn-default" ng-click="executeAnimation(a)">{{ a }}</button>
            </div>
        </div>
    </div>
</div>
