<h2>Mode Bureau à bureau</h2>
<section class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p>
			Sélectionnez un chercheur dans la liste de gauche, puis un second dans celle de droite.
		</p>
		<p>
			Le drone se dirigera vers le bureau du premier avant de rejoindre ensuite celui du second.
        </p>
    </div>
</section>
<section class="row">
    <div class="btn-group-vertical col-xs-2" role="group" aria-label="...">
        <!--<button type="button" class="btn btn-default">Mr Kubicki</button>
                    <button type="button" class="btn btn-default">Mr Querrec</button>
                    <button type="button" class="btn btn-default">Mr Gaubert</button>
                    <button type="button" class="btn btn-default">Mr Redou</button>
                    <button type="button" class="btn btn-default">Mr Maisel</button>
                    <button type="button" class="btn btn-default">Mr Nedelec</button>
                    <button type="button" class="btn btn-default">Mr Parenthoen</button>
                    <button type="button" class="btn btn-default">Mr Buche</button>-->
        <button ng-repeat="c in chercheurs" type="button" class="btn btn-default" ng-click="selectChercheur1(c)" ng-class="{'btn-success' : c == selected1}">{{ c.researcher }}</button>
    </div>
    <div class="col-xs-8">
        <img src="images/i1.jpg" ng-if="!img">
        <img ng-src="data:image/JPEG;base64,{{img}}" ng-if="img">
    </div>
    <div class="btn-group-vertical col-xs-2" role="group" aria-label="...">
        <!--<button type="button" class="btn btn-default">Mr Kubicki</button>
                    <button type="button" class="btn btn-default">Mr Querrec</button>
                    <button type="button" class="btn btn-default">Mr Gaubert</button>
                    <button type="button" class="btn btn-default">Mr Redou</button>
                    <button type="button" class="btn btn-default">Mr Maisel</button>
                    <button type="button" class="btn btn-default">Mr Nedelec</button>
                    <button type="button" class="btn btn-default">Mr Parenthoen</button>
                    <button type="button" class="btn btn-default">Mr Buche</button>-->
        <button ng-repeat="c in chercheurs" type="button" class="btn btn-default" ng-click="selectChercheur2(c)" ng-class="{'btn-success' : c == selected2 && selected1 != selected2}">{{ c.researcher }}</button>
    </div>
</section>
<section class="row">
    <button type="button" class="btn btn-danger col-xs-offset-5 col-xs-2" ng-click="run()"  ng-if="selected1 != null && selected2 != null && selected1 != selected2">
        <span class="glyphicon glyphicon-play"></span>
    </button>
</section>
