<h2>Mode Bureau à bureau</h2>
<section class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p>
            Vous voici en mode bureau. Sélectionnez un chercheur dans la liste ci-dessous. Le drone vous conduiras directement à son bureau.
        </p>
    </div>
</section>
<section class="row">
    <div class="btn-group-vertical col-sm-2" role="group" aria-label="...">
        <!--<button type="button" class="btn btn-default">Mr Kubicki</button>
                    <button type="button" class="btn btn-default">Mr Querrec</button>
                    <button type="button" class="btn btn-default">Mr Gaubert</button>
                    <button type="button" class="btn btn-default">Mr Redou</button>
                    <button type="button" class="btn btn-default">Mr Maisel</button>
                    <button type="button" class="btn btn-default">Mr Nedelec</button>
                    <button type="button" class="btn btn-default">Mr Parenthoen</button>
                    <button type="button" class="btn btn-default">Mr Buche</button>-->
        <button ng-repeat="c in chercheurs" type="button" class="btn btn-default" ng-click="selectChercheur1(c)" ng-class="{'btn-success' : c == selected1}">{{ c }}</button>
    </div>
    <div class="col-sm-8">
        <img src="images/i1.jpg" ng-if="!img.length">
        <img ng-src="data:image/JPEG;base64,{{arrayBufferToBase64(img)}}" ng-if="img.length">
    </div>
    <div class="btn-group-vertical col-sm-2" role="group" aria-label="...">
        <!--<button type="button" class="btn btn-default">Mr Kubicki</button>
                    <button type="button" class="btn btn-default">Mr Querrec</button>
                    <button type="button" class="btn btn-default">Mr Gaubert</button>
                    <button type="button" class="btn btn-default">Mr Redou</button>
                    <button type="button" class="btn btn-default">Mr Maisel</button>
                    <button type="button" class="btn btn-default">Mr Nedelec</button>
                    <button type="button" class="btn btn-default">Mr Parenthoen</button>
                    <button type="button" class="btn btn-default">Mr Buche</button>-->
        <button ng-repeat="c in chercheurs" type="button" class="btn btn-default" ng-click="selectChercheur2(c)" ng-class="{'btn-success' : c == selected2 && selected1 != selected2}">{{ c }}</button>
    </div>
</section>
<section class="row">
    <div class="col-sm-offset-5 col-sm-2">
        <button type="button" class="btn btn-danger">
            <span class="glyphicon glyphicon-play"></span>
        </button>
    </div>
</section>
