.page-header{
  padding-bottom:0px;
}

body{
  background-color: whitesmoke;
  min-height: 100%;
}

.centrage{
  text-align: center;
}

.nomarge{
  margin:0px;
  padding: 0px;
}

header{
  border: 1px solid #EEE;
}

#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}

.border{

  border-left: 1px solid black;
}
.centrage-droite{
  text-align: right;
}

#contents{
  padding-bottom: 100px;
  position: relative;
  height: 100%;
}


/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}